.fs-1{
    text-align: center;
    font-family: cursive;

}


.img-thumbnail{
    /* border-radius: 20px blue;*/
}


.rounded float-start{
    margin-right: 20px;
    margin-left: 20px;
}


.eye{
  position:absolute;
  height:200px;
  width:200px;
  top: 40px;
  left : 40px;
  z-index: 1;
}

.heaven
{
  position:absolute;
  height:300px;
  width:300px;
  z-index: -1;
}